#main-nav {
  padding: 10px 0;

  &.primary-variant {
    background-color: $primary-color;
    color: $white;
  }

  &.white-variant {
    background-color: $white;
    color: $black;
  }

  .container {
    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      a {
        color: $white;
        font-weight: bold;
      }
    }
  }
}