$primary-color: #FFC727;
$primary-stable: rgb(0, 128, 255);
$primary-danger: rgb(255, 0, 68);
$primary-success: rgb(0, 255, 81);
$primary-warning: rgb(255, 136, 0);
$white: white;
$white1: #f5f5f5;
$white2: #ebebeb;
$gray: gray;
$black: black;
$black1: #080808;
$black2: #0f0f0f;