$primary-color: #0093f9;
$primary-stable: rgb(0, 128, 255);
$primary-danger: rgb(255, 0, 68);
$primary-success: rgb(0, 184, 71);
$primary-warning: rgb(255, 136, 0);
$white: white;
$white1: #f9f9f9;
$white2: #f3f3f3;
$gray: gray;
$black: black;
$black1: #080808;
$black2: #0f0f0f;

$shadow1: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;