@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,700;0,900;1,400&display=swap");
#main-nav {
  padding: 10px 0;
}
#main-nav.primary-variant {
  background-color: #0093f9;
  color: white;
}
#main-nav.primary-variant a {
  color: white;
}
#main-nav.white-variant {
  background-color: white;
  color: black;
}
#main-nav.white-variant a {
  color: black;
}
#main-nav .container .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#main-nav .container .wrapper a {
  font-size: x-large;
  text-decoration: none;
}

button:focus {
  outline: 0;
}

.primary-button {
  border: 0;
  padding: 10px 25px;
  border-radius: 0;
  cursor: pointer;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}

.solid-btn-primary {
  background-color: rgb(0, 128, 255);
}

.solid-btn-danger {
  background-color: rgb(255, 0, 68);
}

.solid-btn-success {
  background-color: rgb(0, 184, 71);
}

input {
  background-color: white;
  padding: 10px;
  border: 1px gray solid;
}
input:focus {
  outline: 0;
}

.item-card {
  width: 310px;
  overflow: hidden;
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.item-card:hover {
  transform: translateY(-10px);
}
.item-card .item-image {
  width: 100%;
  height: 180px;
  overflow: hidden;
}
.item-card .item-image img {
  width: 100%;
}
.item-card .item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 320px;
  padding: 25px;
}
.item-card .item-content .item-title,
.item-card .item-content .item-description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.item-card .item-content .item-title {
  -webkit-line-clamp: 2;
}
.item-card .item-content .item-description {
  -webkit-line-clamp: 3;
}
.item-card .item-content .item-price {
  color: rgb(0, 184, 71);
}

#dashboard {
  padding: 50px 0;
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
#dashboard .container .wrapper > *:not(:first-child) {
  margin-top: 15px;
}
#dashboard .container .wrapper .d-controls .d-box {
  color: white;
  font-weight: bold;
  transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  cursor: pointer;
  background-color: #0093f9;
  padding: 10px;
  border-radius: 3px;
}
#dashboard .container .wrapper .d-controls .d-box:not(:first-child) {
  margin-top: 5px;
}
#dashboard .container .wrapper .d-controls .d-box-blue {
  background-color: #0093f9;
}
#dashboard .container .wrapper .d-controls .d-box-blue:hover {
  color: #0093f9;
  background-color: white;
}
#dashboard .container .wrapper .d-controls .d-blox-orange {
  background-color: rgb(255, 136, 0);
}
#dashboard .container .wrapper .d-controls .d-blox-orange:hover {
  color: rgb(255, 136, 0);
  background-color: white;
}
#dashboard .container .wrapper .d-controls .d-box-red {
  background-color: rgb(255, 0, 68);
}
#dashboard .container .wrapper .d-controls .d-box-red:hover {
  color: rgb(255, 0, 68);
  background-color: white;
}
#dashboard .container .wrapper .d-controls .d-box-green {
  background-color: rgb(0, 184, 71);
}
#dashboard .container .wrapper .d-controls .d-box-green:hover {
  color: rgb(0, 184, 71);
  background-color: white;
}

@media screen and (min-width: 768px) {
  #dashboard .container .wrapper .d-controls {
    display: flex;
    align-items: center;
  }
  #dashboard .container .wrapper .d-controls .d-box {
    margin-right: 5px;
  }
  #dashboard .container .wrapper .d-controls .d-box:not(:first-child) {
    margin-top: unset;
  }
}
.purchase {
  background-color: #f9f9f9;
  padding: 10px 20px;
  border: 1px gray solid;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  margin: 10px 0;
}
.purchase > *:not(:first-child) {
  margin-top: 4px;
}
.purchase .title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.purchase .desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.purchase .price {
  color: rgb(0, 184, 71);
}
.purchase .desc,
.purchase .buyer {
  font-size: small;
}

#hero {
  padding: 50px 0;
}
#hero .container .wrapper {
  text-align: center;
}
#hero .container .wrapper > * {
  margin-top: 10px;
}
#hero .container .wrapper .hero-text > * {
  margin-top: 13px;
}
#hero .container .wrapper .hero-text h1 {
  font-weight: 900;
}

@media screen and (min-width: 768px) {
  #hero {
    padding: 90px 0;
  }
  #hero .container .wrapper {
    text-align: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #hero .container .wrapper > * {
    margin-top: unset;
  }
  #hero .container .wrapper .hero-text > * {
    margin-top: 20px;
  }
  #hero .container .wrapper .hero-text h1 {
    font-size: 40px;
  }
  #hero .container .wrapper .hero-image {
    text-align: center;
  }
}
#orders {
  padding: 50px 0;
}
#orders .container .wrapper .orders-list {
  padding: 30px 0;
}

#admin {
  padding: 50px 0;
}
#admin .container .wrapper .products {
  padding: 50px 0;
}
#admin .container .wrapper .products > * {
  margin: auto;
}

@media screen and (min-width: 768px) {
  #admin .container .wrapper .products {
    display: flex;
    flex-wrap: wrap;
  }
  #admin .container .wrapper .products > * {
    margin: unset;
    margin-right: 15px;
    margin-top: 15px;
  }
}
#shop {
  padding: 50px 0;
}
#shop .container .wrapper .items-list > * {
  margin: auto;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  #shop .container .wrapper .items-list {
    display: flex;
    flex-wrap: wrap;
  }
  #shop .container .wrapper .items-list > * {
    margin: unset;
    margin-top: 30px;
    margin-right: 40px;
  }
}
#payment-result .container .cancelled {
  color: rgb(255, 0, 68);
}
#payment-result .container .success {
  color: rgb(0, 184, 71);
}
#payment-result .container .wrapper {
  width: 100%;
  text-align: center;
  margin-top: 120px;
}
#payment-result .container .wrapper img {
  width: 240px;
  margin: auto;
}
#payment-result .container .wrapper > * {
  margin: 10px 0;
}
#payment-result .container .wrapper h1 {
  font-size: xx-large;
}
#payment-result .container .wrapper p {
  color: #0f0f0f;
}

#purchases {
  padding: 50px 0;
}
#purchases .container .wrapper .purchase-list {
  padding: 20px 0;
}

#login,
#register {
  min-height: 100vh;
  background-color: #0093f9;
}
#login .container .wrapper,
#register .container .wrapper {
  display: flex;
  justify-content: center;
}
#login .container .wrapper .login-box,
#register .container .wrapper .login-box {
  margin-top: 100px;
  background-color: white;
  display: inline-block;
  width: 400px;
  padding: 30px;
  border-radius: 5px;
}
#login .container .wrapper .login-box .l-box-title,
#register .container .wrapper .login-box .l-box-title {
  text-align: center;
  font-size: xx-large;
  font-weight: 900;
}
#login .container .wrapper .login-box > *,
#register .container .wrapper .login-box > * {
  margin: 20px 0;
}
#login .container .wrapper .login-box .l-form-control > *,
#login .container .wrapper .login-box .l-form-fields > *,
#register .container .wrapper .login-box .l-form-control > *,
#register .container .wrapper .login-box .l-form-fields > * {
  width: 100%;
  margin: 7px 0;
}
#login .container .wrapper .login-box .l-form-control,
#register .container .wrapper .login-box .l-form-control {
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* For smaller screens: */
[class*=col-] {
  width: 100%;
}

.container {
  width: 90%;
  margin: auto;
}

/* BREAK POINTS */
@media only screen and (min-width: 768px) {
  /* For Larger Screens: */
  .container {
    margin: auto;
    max-width: 1100px;
  }
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  /* For Medium Screens (Tablet): */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
* {
  font-family: "Poppins", sans-serif;
}/*# sourceMappingURL=main.css.map */