#payment-result {
  .container {
    .cancelled {
      color: $primary-danger;
    }

    .success {
      color: $primary-success;
    }

    .wrapper {
      width: 100%;
      text-align: center;
      margin-top: 120px;

      img {
        width: 240px;
        margin: auto;
      }

      &>* {
        margin: 10px 0;
      }

      h1 {
        font-size: xx-large;
      }

      p {
        color: $black2;
      }
    }
  }
}